<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Pagamento de Comissões</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1694bf;">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img src="../assets/icon/favicon.ico" height="30" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page"
              href="https://portal.innovateautomacao.com.br/login/index.php">Home</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <img width="26" height="26" src="https://img.icons8.com/stickers/26/group-task.png" alt="group-task"/>
              Relacionamento de Vendedores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="comissao.html">
              <img width="26" height="26" src="https://img.icons8.com/doodle/26/stack-of-money.png" alt="stack-of-money"/>
              Pagamento de Comissões</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="relatorio.html">
              <img width="26" height="26" src="https://img.icons8.com/color/30/ledger.png" alt="ledger" />
              Relatório de Pagamentos</a>
          </li>
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form> -->
      </div>
    </div>
  </nav>
  <!-- FIM NAVBAR -->

  <div class="container">
    <h1 id="title">Pagamento de Comissões</h1>
    <div class="div_filtro">
      <div class="row align-items-center">
        <div class="col-md-auto">
          <label for="data_pagamento" class="filtro_data"><b>Selecione o período:</b></label>
          <input type="date" id="data_inicio">
          <input type="date" id="data_fim">
        </div>
        <div class="col-md-auto">
          <button class="btn" id="filtroBtn">Buscar <img id="searchicon" width="26" height="26" src="https://img.icons8.com/external-icongeek26-flat-icongeek26/26/external-search-essentials-icongeek26-flat-icongeek26.png"/></button>
        </div>
      </div>
    </div>
    <div class="content" style="border: 1px solid rgb(0, 0, 0);">
      <table class="table table-hover" id="tablecomissao">
        <thead class="thead-dark text-center">
          <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">Nome do Vendedor</th>
            <th scope="col">Data de Inclusão</th>
            <!-- <th scope="col">Data de Venda</th> -->
            <th scope="col">Nome do Contador</th>
            <!-- <th scope="col">Vendedor de Indicação</th> -->
            <th scope="col">Comissão</th>
            <th scope="col">Pagamento</th>
            <!-- <th scope="col">Total</th> -->
            <th scope="col">Total</th>
            <th scope="col">Ação</th>
            <!-- <th scope="col">Nome do Vendedor de Indicação</th> -->
            <!-- <th scope="col">Qnt_Indicacoes</th> -->
          </tr>
    </div>
    </thead>

    <tbody>

    </tbody>
    </table>

  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="./js/comissao.js"></script>
</body>

</html>