* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

body {
  background: linear-gradient(-45deg, #0094f6, #0143d1, #0077ff, #0030b3);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  display: flex; /* define a largura total */
  /* justify-content: center; centraliza horizontalmente */
  align-items: center; /* centraliza verticalmente */
  flex-direction: column;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav {
  top: 0;
  left: 0;
  margin-top: 0.5%;
  /* background-color: #1c40b6 !important; */
  width: 100%;
  height: 90px;
  display: flex;
  /* margin-bottom: 0.5%; */
  align-items: center; 
  /* justify-content: space-between ; */
}

.itemNav {
  color: #FFF !important;
  text-decoration: none;
  font-size: 18px;
}

.itemNav:hover, .itemNav:focus {
  text-decoration: underline;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-item {
  color: black !important;
}

.dropdown-item:hover {
  color: #2a56e7 !important
}
.dropdown-item:focus {
  background-color: #FFF;
}

.nav-container {
  
  margin-left: 2%;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.title {
  /*padding-top: 20.5%;*/
  font-family: 'Courier New', Courier, monospace;
  color: #FFF !important;
  font-size: 35px;
  /*margin-top: 10%;*/
  margin-bottom: 5%;
}

.content {
  /* background-color: rgb(28, 64, 182) !important; */
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  flex-direction: column;
  /* background-image: url(../../assets/img/logotipo-03.png); */
  /* background-size: 100% !important; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* position: relative; */
}

.form-container {
  /* background-color: rgb(28, 64, 182) !important; */
  background-image: url(../../assets/img/logotipo-03.png);
  background-size: 100% !important;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-top: 0.5%;
  justify-content: center;
  align-items: center;
  display: flex;
}

form {
  padding-left: 2% !important;
  padding-right: 2% !important;
  background-color: white;
  width: 80%;
  align-items: center !important;
  border-radius: 20px;
  border: solid 5px;
  border-color: black;
  justify-content:space-around !important;


}

.row {
display: flex !important;
justify-content: space-between !important;
align-items: center !important;
}

.firstRowForm{
  margin-top: 2%;
}

.middleRowForm {
  /* justify-content:space-around !important; */
  margin-top: 2%;
  margin-bottom: 2%;
}

.form-label {
  font-weight: bold;
  font-size: 16px;
}

.form-switch {
  margin-top: 10%;
}

#flexSwitchCheckChecked {
  border:solid 2px;
  border-radius: 8px;
  margin-left: 1px;
}

.card {
background-color: #0a7280 !important;
padding: 2%;
}

.card-body {
  width: 100%;
  height: 100%;
  justify-content: space-between !important;
  border: solid 2px #000000;
}

.contentObs {
border: dashed 2px #000000;
padding: 2%;
}

.obsHeader{
  color: #FFF;
  display: flex;
  justify-content: space-around !important;
}

.containerObs {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row !important;
  justify-content:space-around !important;
}

#inputTextOcorrencia {
  margin-right: 2%;
}

.observacoes {
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.acao {
  display: flex;
  justify-content:end !important;
  margin-top: 2%;
  margin-bottom: 2%;
}

.btn-success {
  margin-left: 3%;
}