* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Noto Sans, sans-serif;

}

.nav {
  margin-top: 0.5%;
  /* background-color: #1c40b6 !important; */
  width: 100%;
  display: flex;
  /* margin-bottom: 0.5%; */
  align-items: center; 
  /* justify-content: space-between; */
}

.navbar-brand {
    height: 35;
    width: 35;
    /* background-image: url("../static/assets/img/logotipo-03.png"); */
    background-size: contain; /* Ajuste conforme necessário */
    /* Outras propriedades de estilo, como largura, altura, etc. */
}


.itemNav {
  color: hwb(189 92% 5%) !important;
  text-decoration: none;
  font-size: 18px;
}

.itemNav:hover, .itemNav:focus {
  text-decoration: underline;
}

.dropdown:hover>.dropdown-menu {
  display: block;
  background: transparent;
}

.dropdown-item {
  background: transparent !important;
  color: rgb(255, 255, 255) !important;

}

.dropdown-item:hover {
  background-color: #f8f2f2c2 !important;
  color: #000000 !important
}

.nav-container {
  margin-left: 2%;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;

}
body {
	background: linear-gradient(-45deg, #0094f6, #0143d1, #0077ff, #5a86ff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  display: flex; /* define a largura total */
  /* justify-content: center; centraliza horizontalmente */
  align-items: center; /* centraliza verticalmente */
  flex-direction: column;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.content {
  /* background-color: #1c40b6; */
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
}


.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/img/logotipo-03.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6; /* Ajuste a opacidade conforme necessário */
  z-index: -1;
}

/* Adicione um pseudo-elemento para criar a sobreposição */
/* .content::before {  */
  /* content: ""; */
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* width: 100%; */
  /* height: 100%; */
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* z-index: 0; */
/* } */

.title {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 35px;
  margin-top: 5%;
  margin-bottom: 5%;

}

.menuFiltro {
  /* background-color: red; */
  display: flex;
  width: 80%;
  justify-content: end !important;
}

.filtro {
  background: linear-gradient(-45deg, #0094f6, #0143d1, #0077ff, #5a86ff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  border: solid 2px !important;
  border-color: #000000 !important;
  border-radius: 10px;
  display: flex;
  padding: 8px;
  /* width: 75%; */
  background-color: #ffffff;
}

.filtroSelect {
  background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-select.gif) no-repeat #ffffff;
  /* appearance: none; serve para tirar a seta do SELECT*/ 
  /* overflow: hidden; */
  border: 2px solid #000000;
  border-radius: 20px;
  width: 80px;
  text-align: center;
  outline: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.filtroInput {
  border: solid;
  border-radius: 20px;
  padding-left: 1%;
  margin-left: 1% ;
  margin-right: 1% ;
}

#btn-filtro {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 2px solid #0b0b0c;
  border-radius: 20px;
  outline: none;
  /*font-size: 1.1em;*/
}

#btn-filtro:hover {
  background-color: white;
  color: #0077ff;

}

.table-container {
  /* background-color: tomato; */
  margin-top: 0.5%;
  display: flex !important;
  width: 80%;
  /* height: 70%; */
}

.table {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border: 4px solid black;
  /* background-image:url(../../assets/img/logotipo-03.png); */
  /* background-size:100%; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  text-align: center;
  vertical-align: middle;
}

.table-hover tbody tr:hover td {
  background: #0077ff;
  color: #ffffff;
}

.table-hover tbody tr:hover td button{
  /* background: rgb(122, 145, 170); */
  background-color: #ffffff !important;
  color: #0077ff !important;
  border-radius: 100%;
}

.btn {
  cursor: pointer;
}

#btn-edit, #btn-interact {
    background-color: #0077ff;
    color: #ffffff;
    border-radius: 100%;
    cursor: pointer;
}

#btn-edit:hover {
  transform: scale(1.2);
}

#btn-interact:hover {
  transform: scale(1.2);
}

.modal-header-itens {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
}

.date {
  text-align: center;
  display: flex;
  align-items: center !important;
  justify-content: center;
  /* flex-direction: row !important; */
  width: 40% !important;
}

#labelDateUltimaInteracao {
  margin-left: 25%;
}

#labelDateOcorrencia, #labelDateUltimaInteracao {
  margin-top: 1.5%;
  margin-right: 2%;
}

#inputDateOcorrencia, #inputDateUltimaInteracao {
  width: 40% !important;
  text-align: center;
}


.modal-body {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  color: #1a1919;
  justify-content:space-around !important;
}

.modal-dialog {
  /* height: 60%; */
  max-width: none;
  width: 70% !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
}

.modal-content {
  background-color: #0a62d4;
  color: #ffffff;
  height: 100%;
  width: 100%;
}

.modal-body {
  text-align: center;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content:space-around important;
}

.modal-body span {
  color: rgb(19, 19, 19);
}

.RowForm {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.data {
  width: 18% !important;
}

#inputUltimoTeste {
  text-align: center !important;
}

.switch {
  padding: 1%;
  text-align: center !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.form-switch {
  padding-left: 0% !important;
  justify-content: space-between !important;
}

#vinicius {
  /* width: 15%; */
  margin-left: 0.5%;
}


.btnContainerObsOcr {
  margin-top: 1%;
  display: flex;
  width: 100%;
  align-items:normal !important;
  justify-content:space-around !important;
}

.card-body {
  display: flex;
  justify-content: center !important;
  text-align: center !important;
}

.btn-success {
  background-color: #ededee;
  color: #007bff;
}

.btn-success:hover {
  background-color: #ffffff;
  color: #007bff;
}

.btn-danger {
  background-color: #e01c1c;
}

.btn-danger:hover {
  background-color: rgb(207, 25, 25);
}


