* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* ocupa toda a altura da tela */
  background-color: rgb(255, 255, 255);
  /* só para visualização */
  display: flex;
  /* define a largura total */
  /* justify-content: center; centraliza horizontalmente */
  align-items: center;
  /* centraliza verticalmente */
  flex-direction: column;
}

.nav {
  background-color: rgb(28, 64, 182) !important;
  width: 100%;
  display: flex;
  margin-bottom: 0.5%;
  align-items: center;
  /* justify-content: space-between; */
}

.nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
}

.nav a:hover,
.nav a:focus,
.nav .show .nav-link {
  color: #24d1dd !important;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-item {
  color: black !important;
}

.nav-container {
  margin-left: 2%;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.content {
  background-color: rgb(28, 64, 182);
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-image: url(../../assets/img/logotipo-03.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  color: white;
}

.menuFiltro {
  background-color: red;
  display: flex;
  width: 80%;
  justify-content: end !important;
}

.filtro {
  border: solid 2px !important;
  border-color: rgb(0, 0, 0) !important;
  border-radius: 10px;
  display: flex;
  padding: 8px;
  /* width: 75%; */
  background-color: rgb(255, 255, 255);

}

.filtroSelect {
  background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-select.gif) no-repeat #ffffff;
  /* appearance: none; serve para tirar a seta do SELECT*/ 
  /* overflow: hidden; */
  border: none;
  border-radius: 20px;
  width: 80px;
  text-align: center;
}

.filtroSelect option {
  border-radius: 20px;
}

.filtroInput {
  border: solid;
  border-radius: 20px;
  padding-left: 1%;
  margin-left: 1% ;
  margin-right: 1% ;
}

#btn-filtro {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
}

.table-container {
  /* background-color: tomato; */
  margin-top: 0.5%;
  display: flex !important;
  width: 80%;
  /* height: 70%; */
}

.table {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border: 4px solid black;
  /* background-image:url(../../assets/img/logotipo-03.png); */
  /* background-size:100%; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  text-align: center;
  vertical-align: middle;
}

.table-hover tbody tr:hover td {
  background: aqua;
}

.btn {
  cursor: pointer;
}

.modal-body {
  background-color: red;
}

.modal-content {
  background-color: chartreuse;
}